.create-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.input-group {
  display: block;
  flex-direction: column;
  align-self: start;
  margin: auto;
}
.btn {
  margin-top: 10px !important;
}

.artist-btn-submit {
  margin: 0px;
}

.form-input-label {
  outline: none;
  font-size: 16px;
  font-weight: normal;
  display: table-cell;
}

.btn-row {
  display: flex;
  justify-content: space-between;
}

.btn-search-1 {
  margin: 10px !important;
  max-width: 200px;
}
.btn-search-2 {
  margin: 10px !important;
  max-width: 200px;
}

.homepage-card-text {
  text-align: center;
  margin: -5px;
}
